*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: block;
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: $yellow;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}